body{
   background-color: cornflowerblue;

}
.head{
    text-align: center;
}
.main{
    display: flex;
    flex-direction:column;
    width:60% ;
    height: auto;
    margin-left:20%;
    margin-right: 20%;
    margin-bottom: 20px;
    background-color: aliceblue;

}
.intp{
    width: 300px;
    height: auto;
}
.intpt{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 300px;
    height: auto;
}
.position{
    display: flex;
    flex-direction:column;
   margin-left: 30px;
}
